.SeasonMenu .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 10px 100px;
  border: none;
}

.SeasonMenu .dropdown {
  position: relative;
  display: inline-block;
}

.SeasonMenu .dropdownContent {
  display: none;
  position: absolute;
  background-color: rgb(127, 139, 131);
  width: 275px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.SeasonMenu .dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.SeasonMenu .dropdownContent a:hover {background-color: #ddd;}

.SeasonMenu .dropdown:hover .dropdownContent {display: block;}

.SeasonMenu.dropdown:hover .dropbtn {background-color: #3e8e41;}