.featuredSlider3 .slick-next {
  right: 0px;
  z-index: 9999;
}

.featuredSlider3 .slick-next:before {
  content: "*";
}

.featuredSlider3 .slick-next {
  right: 1%;
  top: -14.5%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
}
