.slick-next:before,
.slick-prev:before {
  font-size: 35px;
  display: none;
}

.slider-container:hover .slick-next:before,
.slider-container:hover .slick-prev:before {
  display: block;
}

.slick-next {
  right: 50px;
  z-index: 9999;
}

.slick-prev {
  left: 10px !important;
  z-index: 9999;
}



@media only screen and (max-width: 1024px) {
  .mainSlider {
    width: 100% !important;
  }

  .mainSlider img {
    object-fit: contain !important;
  }

  .slick-slide > div {
    margin: 0 7px;
  }
}
