@media only screen and (max-width: 600px) {
  .main-slider .swiper-button-next::after,
  .swiper-button-prev::after {
    color: white;
    font-size: 20px;
    font-weight: 900;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}
